@import "tailwindcss";

/* Add to your global stylesheet */
/* Add to your global CSS file for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for dropdown */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}